## Global
global
{% for log in haproxy_cluster_config.global.logs %}
    {{ log }}
{% endfor %}
    chroot /var/lib/haproxy

    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # HAProxy Profiling
    profiling.tasks on

    # Default SSL material locations
    ca-base {{ haproxy_cluster_config['global'].ca_base | default ('/etc/ssl/certs') }}
    crt-base {{ haproxy_cluster_config['global'].crt_base | default ('/etc/haproxy/ssl') }}

    # See: {{ haproxy_ssl_config }}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_ciphers is defined %}
    ssl-default-bind-ciphers {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_ciphers }}
{% endif %}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_ciphersuites is defined %}
    ssl-default-bind-ciphersuites {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_ciphersuites }}
{% endif %}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_options is defined %}
    ssl-default-bind-options {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].bind_options }}
{% endif %}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].server_ciphers is defined %}
    ssl-default-server-ciphers {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].server_ciphers }}
{% endif %}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].server_ciphersuites is defined %}
    ssl-default-server-ciphersuites {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].server_ciphersuites }}
{% endif %}
{% if haproxy_ssl_ciphers[haproxy_ssl_security_level].server_options is defined %}
    ssl-default-server-options {{ haproxy_ssl_ciphers[haproxy_ssl_security_level].server_options }}
{% endif %}

    # curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
    # ssl-dh-param-file /etc/haproxy/dhparam.txt

## Defaults
defaults
    log     global

    timeout connect {{ haproxy_cluster_config.defaults.timeout_connect | default (5000)  }}
    timeout client  {{ haproxy_cluster_config.defaluts.timeout_client | default (50000) }}
    timeout server  {{ haproxy_cluster_config.defaluts.timeout_client | default (50000) }}

    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

{% if haproxy_statsistics_allowed_ips | length > 0 %}
## Frontend front_statistics
frontend front_statistics
    bind {{ lookup('community.general.dig', ansible_fqdn ) }}:{{ haproxy_statsistics_port }} {% if haproxy_statsistics_ssl %}ssl crt {{ network.hostname }}.{{network.hostdomain }}.pem alpn h2,http/1.1{% endif %}


    mode http
    option httplog
    option dontlognull

{% for request in haproxy_default_http_requests %}
    http-request {{ request }}
{% endfor %}

{% for ip in haproxy_statsistics_allowed_ips %}
    acl allowed_stats_ips src {{ ip }}
{% endfor %}
    http-request deny if !allowed_stats_ips

    stats enable
    stats uri /
    stats refresh 30s
    stats admin if allowed_stats_ips
{% endif%}


{% for instance in haproxy_service_config %}
{% set haproxy = haproxy_service_config[instance].haproxy | default ('{}') %}
{% if haproxy | length > 0 %}
{# set bind_address #}
{% if lookup('community.general.dig', instance) != "NXDOMAIN" %}
{% set bind_adddress = lookup('community.general.dig', instance) %}
{% else %}
{% set bind_adddress = lookup('community.general.dig', ansible_fqdn) %}
{% endif %}
{# set mode - Default : tcp #}
{% set mode = haproxy.mode | default ('tcp') %}
{% if mode != "tcp" and mode != 'http' %}
{% set mode = "tcp" %}
{% endif %}
{# check config directive backend or listen #}
{% set param_backend = haproxy.backend | default (false) %}
{% set param_listen = haproxy.listen | default (false) %}
{% if param_backend %}
{# set balance - Default : roundrobin#}
{% set balance = haproxy.backend.balance | default ('roundrobin') %}
{# set ssl / https params - Default : false #}
{% if mode == 'http' %}
{% set is_http = ((haproxy.ports | default ( [ haproxy.port ] ) | select ('eq', 80 )|list) | length )| bool %}
{% set is_https = ((haproxy.ports | default ( [ haproxy.port ] ) | select ('eq', 443 )|list) | length ) | bool %}
{% set is_ssl = haproxy.frontend.ssl | default (false) %}
{% else %}
{% set is_http = false %}
{% set is_https = false %}
{% set is_ssl = false %}
{% endif %}
## Frontend front_{{ instance }}
frontend front_{{ instance }}
    mode {{ mode }}
{% for option in haproxy.frontend.options | default ( haproxy_default_frontend_options[mode] ) %}
    option {{ option }}
{% endfor %}

{% for port in haproxy.ports | default ( [ haproxy.port ] ) %}
{% if is_ssl and port != 80 or mode == 'http' and port == 443 %}
    bind {{ bind_adddress }}:{{ port }} ssl crt {{ instance }}.pem alpn h2,http/1.1
{% else%}
    bind {{ bind_adddress }}:{{ port }}
{% endif %}
{% endfor %}

{# http-request #}
{% if mode == 'http' %}
    # http-request
{% for request in haproxy.frontend.http_requests | default ( haproxy_default_http_requests )%}
    http-request {{ request }}
{% endfor %}

{% endif %}
{# redirect - force https #}
{% if ( is_http and is_https ) %}
    # force https redirect
    redirect scheme https code 301 if !{ ssl_fc }

{% endif %}
{# HSTS max age #}
{% if is_https or is_ssl %}
    # HSTS ({{ haproxy_default_hsts_max_age }} seconds)
    http-response set-header Strict-Transport-Security max-age={{ haproxy_default_hsts_max_age }}

{% endif %}
    default_backend back_{{ instance }}

## Backend back_{{ instance }}
backend back_{{ instance }}
    mode {{ mode }}
    balance {{ balance }}

{% for option in haproxy.backend.options | default ( haproxy_default_backend_options[mode] ) %}
    option {{ option }}
{% if option == 'httpchk' and haproxy.backend.http_check is defined %}
    http-check {{ haproxy.backend.http_check | default ('') }}
{% endif%}
{% endfor %}

    {{ haproxy.backend.default_server | default ('default-server check') }}

{% for host in haproxy.backend.hosts %}
    server {{ host.fqdn.split('.')[0] }} {{ lookup('community.general.dig', host.fqdn ) }}:{{ host.port }} check {{ host.check | default ('') }}
{% endfor %}
{% elif param_listen %}
# TBD: Listen
{% endif %}
{% endif %}
{% endfor %}